header {
  padding: 15px;
  background-color: #62b5e5;
}

header h1 {
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
}

.container {
  margin: auto;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    border: 1px solid #ddd;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}
