.container {
  padding: 30px 15px;
  border-top: 1px dotted #ddd;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.taskContainer {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  outline: none;
  border: none;
  display: block;
  cursor: pointer;
  background-color: transparent;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
}

.icon {
  height: 100%;
}

.titleWrap {
  color: #7891a0;
  margin-left: 10px;
}

.title {
  text-align: left;
}

.duration {
  font-weight: bold;
  color: #5c7380;
  margin-top: 10px;
}
