.container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  outline: none;
  border: none;
  display: block;
  cursor: pointer;
  background-color: transparent;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
}

.icon {
  height: 100%;
}

.title {
  text-align: left;
}
